# macOS General
.DS_Store
.AppleDouble
.LSOverride

# subl
hugo-blog.sublime-project
hugo-blog.sublime-workspace

# hugo
.hugo_build.lock

# files
5855d6e376141a96.mp4
bb7b1cf09d2b80bc.mp4
drafts.md

# folders
/public/
resources/
thumbnails/
exampleSite/
draft/
migration/
/content/drafts/
_gen/
static/_pagefind
static/pagefind
